<!-- Modal -->
<div id="addFamilyMemberForm" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title">Add Family Member</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        {{diagnostic}}
      </div>
      <div class="modal-body">
        <form #addMemberForm="ngForm">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="member_name">Name:</label>
                <input type="text" class="form-control" name="member_name" id="member_name" required [(ngModel)]="model.member_name" #member_name="ngModel">
                <div [hidden]="member_name.valid || member_name.pristine" class="alert alert-danger">
                  Name is required
                </div>
              </div>
            </div>
            <div class="col"> 
              <div class="form-group">
                <label for="member_gender">Gender:</label>
                <select class="form-control" name="member_gender" id="member_gender" required [(ngModel)]="model.member_gender">
                  <option *ngFor="let gender of genders" [value]="gender.key">{{gender.value}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">  
              <div class="form-group">
                <label for="member_mother">Mother:</label>
                <select class="form-control" name="member_mother" id="member_mother" [(ngModel)]="model.member_mother">
                  <option *ngFor="let mother of mothersList" [value]="mother.ft_id">{{mother.name}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="member_father">Father:</label>
                <select class="form-control" name="member_father" id="member_father" [(ngModel)]="model.member_father">
                  <option *ngFor="let father of fathersList" [value]="father.ft_id">{{father.name}}</option>
                </select>
              </div>
            </div>
          </div>        
          <div class="form-group" *ngIf="model.member_gender=='M'">
            <label for="member_wiwes">Wife(s):</label>
            <mat-form-field class="form-control">
              <mat-select placeholder="Select" [formControl]="wivesMultiSelect" [(ngModel)]="model.member_wives" multiple>
                <mat-option *ngFor="let wife of wivesList" [value]="wife.ft_id">{{wife.name}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="row">
            <div class="col">
                <div class="form-group">
                  <label for="member_dob">DOB:</label>
                  
                  <!--https://material.angular.io/-->
                  <mat-form-field class="form-control" >
                    <input name="member_dob" id="member_dob" [(ngModel)]="model.member_dob" matInput [matDatepicker]="picker_dob" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker_dob"></mat-datepicker-toggle>
                    <mat-datepicker #picker_dob></mat-datepicker>
                  </mat-form-field>

                </div>

              </div>
              <div class="col">  
                <div class="form-group">
                  <label for="member_dod">DOD:</label>
                  <mat-form-field class="form-control" >
                    <input name="member_dod" id="member_dod" [(ngModel)]="model.member_dod" matInput [matDatepicker]="picker_dod" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker_dod"></mat-datepicker-toggle>
                    <mat-datepicker #picker_dod></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>  
          </div>      
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="closeAddFamilyMemberForm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="saveFamilyMember(); addMemberForm.reset()" [disabled]="!addMemberForm.form.valid">Save</button>
      </div>
    </div>

  </div>
</div>