<app-hero-search></app-hero-search>

<div class="container">
  <div class="jumbotron">
    <h1>Family Details</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Surname</strong></td>
            <td>Karanam</td>
          </tr>
          <tr>
            <td><strong>Gotram</strong></td>
            <td>Vasishtasya</td>
          </tr>
          <tr>
            <td><strong>Pravara</strong></td>
            <td>చతుస్సాగర పర్యంతాం గోబ్రాహ్మణ శుభం భవతు. వశిష్ఠ ఇంద్రప్రమద ఆభరధ్వసు త్ర్యఋషే ప్రవరాన్విత వశిష్ట గోత్రః ఆపస్తంభ సూత్రః యజుశ్శాఖ అధ్యాయ ___ శర్మాణాం ఆహంభో అభివాదయే</td>
          </tr>
          <tr>
            <td><strong>Inti Devudu</strong></td>
            <td>Venkateswara Swami</td>
          </tr>
          <tr>
            <td><strong>Tega</strong></td>
            <td>Niyogulu (6000 niyogulu)</td>
          </tr>
          <tr>
            <td><strong>Kula Devata</strong></td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h3>Top Heroes</h3>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <div class="module hero">
          <h4>{{hero.name}} ({{hero.id}})</h4>
        </div>
      </a>
    </div>
  </div>
</div>
