<!--Below first block is just for reference for creating admin section in future-->
<div *ngIf="member && isAdminUser$ | async">
  <h2>{{ member.member_name | uppercase }} Details</h2>
  <div><span>id: </span>{{member.member_id}}</div>
  <div *ngIf="isAdminUser$ | async">
    <label>name:
      <input [(ngModel)]="member.member_name" placeholder="name"/>
    </label>
  </div>

  <div>
    <strong>{{member.name}}</strong>
  </div>
  <div *ngIf="member.member_sons && member.member_sons.length">
    <h2>Sons</h2>
    <ul>
      <li *ngFor="let son of member.member_sons">{{son.name}}</li>
    </ul>
  </div>
  <button *ngIf="isAdminUser$ | async " (click)="save()">save</button>
</div>

<!--Actual Content-->
<button (click)="goBack()">go back</button>
<!--Heror Details -->
  <div class="row" *ngIf="member">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">{{ member.member_name | uppercase }} Details</div>
      <img class="card-img-top" [src]="fullImagePath" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{ member.member_name}}</h4>
        <p class="card-text">FID: {{member.member_id}}</p>
        <!--a href="#" class="btn btn-primary">See Profile</a-->
      </div>
    </div>
    </div>
    <!--Hero Parent and wife details -->
    <div class="col-sm-8">
      <!--Hero Parent Details -->
      <h3 *ngIf="member.member_mother.length||member.member_father.length">Parents</h3>
      <div class="card-deck">

        <div class="card" *ngIf="member.member_mother.length">
          <div class="card-header">Mother</div>
          <div class="card-body text-center">
            <p class="card-text">
              <a routerLink="/detail/{{member.member_mother[0].member_id}}">{{member.member_mother[0].member_name}}</a>
            </p>
          </div>
        </div>
        <div class="card" *ngIf="member.member_father.length">
          <div class="card-header">Father</div>
          <div class="card-body text-center">
            <p class="card-text">
              <a routerLink="/detail/{{member.member_father[0].member_id}}">{{member.member_father[0].member_name}}</a>
            </p>
          </div>
        </div>
        </div>
        <br />
<!--Hero Wife(s) details -->
      <h3 *ngIf="member.member_wives.length">{{wifeHusbandText}}</h3>
      <div class="card-group" *ngIf="member.member_wives.length">
        <div class="card" *ngFor="let wife of member.member_wives">
          <div class="card-body text-center">
            <div class="card-text">
              <a routerLink="/detail/{{wife[0].member_id}}">{{wife[0].member_name}}</a>
            </div>
          </div>
        </div>
      </div>

        <br />
      <!--Hero Son details -->
            <h3 *ngIf="member.member_sons.length">Sons</h3>
            <div class="card-group" *ngIf="member.member_sons.length">
              <div class="card" *ngFor="let son of member.member_sons">
                <div class="card-body text-center">
                  <div class="card-text">
                    <a routerLink="/detail/{{son.member_id}}">{{son.member_name}}</a>
                  </div>
                </div>
              </div>
            </div>
        <br />
          <!--Hero Son details -->
          <h3 *ngIf="member.member_daughters.length">Daughters</h3>
          <div class="card-group" *ngIf="member.member_daughters.length">
            <div class="card" *ngFor="let daughter of member.member_daughters[0]">
              <div class="card-body text-center">
                <div class="card-text">
                  <a routerLink="/detail/{{daughter.member_id}}">{{daughter.member_name}}</a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
