.gk-family-tree-invisible {
    display: none;
  }
  
  .gk-family-tree ul,
  .gk-family-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
.gk-family-tree button{
    border: none;
    margin-right: 10px;
    cursor: pointer;
}